* {
  margin: 0;
  padding: 0;
}
.card {
  color: white;
  & li {
    list-style: none;
  }
  &-container {
    background-color: royalblue;
    border-radius: 10px;
  }
  &-title {
    text-align: center;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    &-title {
    }
    &-year {
    }
  }
}
