$dashboardColorItem: #2d294c;
.card {
  color: white;
  border: none;
  &-container {
    max-width: 100%;
    height: 100%;
    background-color: $dashboardColorItem;
  }
  &-title {
    padding-top: 10px;
    background-color: $dashboardColorItem;
  }
}

canvas {
  max-width: 50vw;
  height: 100%;
  margin: 0;
  padding: 0;
}
