$dashboardColorBackground: #5e51d1;
.card {
  background: none;
  color: white;
  &-title {
    display: flex;
    justify-content: space-between;
    &-name {
      color: $dashboardColorBackground;
    }
    &-year {
      color: royalblue;
      margin-left: 10px;
    }
  }
}
