*,
*::before,
*::after {
  box-sizing: border-box;
}
$dashboardColorBackground: #151138;
$dashboardColorItem: #2d294c;

.homepage {
  &-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: $dashboardColorBackground;
    padding: 10px;
  }
  &-card {
    background-color: $dashboardColorItem;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    // padding: 20px;
    align-self: stretch;
    margin: 0 auto;
  }
}
