*,
*::before,
*::after {
  box-sizing: border-box;
}
$dashboardColorBackground: #151138;
$dashboardColorItem: #2d294c;
$gridColGap: 10; //px
$gridRowGap: 10; //px
$gridColDim: calc((100%- 80px) / 4);
$gridRowDim: calc((100%- 30px) / 3);

.grid {
  max-width: 100vw;
  height: 100%;
  &-container {
    display: grid;
    justify-content: space-evenly;
    // grid-template-columns: $gridColDim $gridColDim $gridColDim $gridColDim;
    // grid-template-columns: 25% 25% 25% 25%;
    // grid-template-rows: $gridRowDim $gridRowDim $gridRowDim;
    // grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: $dashboardColorBackground;
    grid-template-areas:
      "CardlistCol CardDiag CardF CardM"
      "CardlistCol CardHisto CardHisto CardBar"
      "CardlistCol CardHisto CardHisto CardMean";
  }
  &-item {
    background-color: $dashboardColorItem;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    &-listCol {
      grid-area: CardlistCol;
    }
    &-diag {
      grid-area: CardDiag;
    }
    &-cardF {
      grid-area: CardF;
    }
    &-cardM {
      grid-area: CardM;
    }
    &-histo {
      grid-area: CardHisto;
      // display: flex;
      // justify-content: center;
    }
    &-bar {
      grid-area: CardBar;
    }
    &-mean {
      grid-area: CardMean;
    }
  }
}

$grid-gutter-width: 50px !default;

.dashboard {
  max-width: 100vw;
  height: 100vh;
}

.test {
  border-radius: 12px;
  border: 1px solid black;
  // margin: 5px 5px;
  &-col {
    height: 100vh;
    background-color: pink;
  }
  &-bar {
    background-color: purple;
  }
  &-card {
    height: 30vh;
    background-color: royalblue;
  }
  &-square {
    background-color: royalblue;
    height: 100%;
  }
  &-histo {
    background-color: yellowgreen;
  }
}
