<div class="dashboard dashboard-container">
  <app-card-list title="Liste des films" class="card-films"></app-card-list>

  <app-card-diagram
    title="Répartition Femme-Homme"
    class="card-diag"
  ></app-card-diagram>
  <app-card-list
    title="Actrices les plus vues"
    class="card-actrices"
  ></app-card-list>
  <app-card-list
    title="Acteurs les plus vus"
    class="card-acteurs"
  ></app-card-list>
  <app-card-histo
    title="Production de films suivant les années"
  ></app-card-histo>
</div>
