<div class="grid-container">
  <div class="grid-item grid-item-listCol">
    <app-card-list title="Liste des films"></app-card-list>
  </div>
  <div class="grid-item grid-item-diag">2</div>
  <div class="grid-item grid-item-cardF">3</div>
  <div class="grid-item grid-item-cardM">4</div>
  <div class="grid-item grid-item-histo">5</div>
  <div class="grid-item grid-item-bar">6</div>
  <div class="grid-item grid-item-mean">7</div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-3 test test-col"></div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 test test-card"></div>
        <div class="col-6 test test-card"></div>
      </div>
      <div class="row">
        <div class="col-12 test test-square"></div>
      </div>
    </div>
    <div class="col-3 test">
      <div class="row">
        <div class="col-12 test test-card"></div>
      </div>
      <div class="row">
        <div class="col-12 test test-card"></div>
      </div>
      <div class="row">
        <div class="col-12 test test-card"></div>
      </div>
    </div>
  </div>
</div> -->
