*,
*::before,
*::after {
  box-sizing: border-box;
}
$dashboardColorBackground: #151138;
$dashboardColorItem: #2d294c;

.signin {
  color: white;

  &-container {
    background-color: $dashboardColorBackground;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-card {
    background-color: $dashboardColorItem;
    border-radius: 10px;
    width: 25vw;
    height: 35vh;
    padding: 0 8px;
    &-title {
      text-align: center;
      margin-top: 10px;
    }
    &-form {
      display: flex;
      flex-direction: column;
      &-label {
        margin: 10px 0;
      }
      &-input {
        color: white;
        background-color: $dashboardColorBackground;
        border: 0.5px solid $dashboardColorBackground;
        border-radius: 4px;
      }
      &-submit {
        margin-top: 20px;
      }
    }
  }
}
