<div class="signin signin-container">
  <div class="signin signin-card">
    <h1 class="signin signin-card-title">Signin</h1>

    <form
      class="signin signin-card-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <label class="signin signin-card-form-label">Email</label>
      <input
        class="signin signin-card-form-input"
        type="email"
        formControlName="email"
        placeholder="john.doe@free.fr"
      />

      <label class="signin signin-card-form-label">Password</label>
      <input
        class="signin signin-card-form-input"
        type="password"
        formControlName="password"
        placeholder="*******"
      />

      <button
        class="signin-card-form-submit"
        color="primary"
        type="submit"
        mat-raised-button
        color="secondary"
        [disabled]="!form.valid"
      >
        Signin
      </button>
    </form>
  </div>
</div>
